In [9]:
import json
import re
import os
import pandas as pd
from collections import Counter
import sys
sys.path.append(os.path.dirname(os.getcwd()))
from Path import *
from Utils import *
import spacy
from spacy.lang.en import English
from spacy.matcher import PhraseMatcher
from Services.skills import SkillsExtractor
from nltk.tokenize import word_tokenize
from nltk import pos_tag

In [2]:
os.chdir('C:\\Users\\SOUMEN\\Projects\\JobPostings')

In [35]:
nlp = spacy.load('en_core_web_sm') 
matcher = PhraseMatcher(nlp.vocab)

In [36]:
patterns = ["Bachelor's", "Bachelor’s Degree", "Bachelors", "Master's", "MS", "BTech", "phd", "Master’s Degree", "Masters", "PhD"]
for pattern in patterns:
    matcher.add('DEGREE', [nlp(pattern)])

In [3]:
linkedid_data_path = 'Data/linked_in.json'
linkedid_parsed_data_path = 'Data/linked_in_parsed.json'

In [4]:
jobs_parsed = read_json(linkedid_parsed_data_path)
jobs = read_json(linkedid_data_path)

In [37]:
degrees = []
for job in jobs[:100]:
    doc = nlp(job)
    matches = matcher(doc)
    if len(matches):
        for match_id, start, end in matches:
            string_id = nlp.vocab.strings[match_id]  # Get string representation
            span = doc[start:end]  # The matched span
            degrees.append({
                'match_id': match_id,
                'string_id': string_id,
                'start': start,
                'end': end,
                'text': span.text
            })

In [38]:
len(degrees)

53

In [39]:
pd.DataFrame(degrees)

               match_id string_id  start   end             text
0   7548957479006337869    DEGREE    391   392        Bachelors
1   7548957479006337869    DEGREE    393   394          Masters
2   7548957479006337869    DEGREE    588   589          Masters
3   7548957479006337869    DEGREE    253   254          Masters
4   7548957479006337869    DEGREE    229   230              PhD
5   7548957479006337869    DEGREE    476   479  Master’s Degree
6   7548957479006337869    DEGREE    480   481              PhD
7   7548957479006337869    DEGREE    518   519        Bachelors
8   7548957479006337869    DEGREE    520   521          Masters
9   7548957479006337869    DEGREE   1098  1099              PhD
10  7548957479006337869    DEGREE    396   397               MS
11  7548957479006337869    DEGREE    311   312               MS
12  7548957479006337869    DEGREE    313   314              PhD
13  7548957479006337869    DEGREE    658   660       Bachelor's
14  7548957479006337869    DEGREE    689   691       Bachelor's
15  7548957479006337869    DEGREE    777   778        Bachelors
16  7548957479006337869    DEGREE    657   659       Bachelor's
17  7548957479006337869    DEGREE    688   690       Bachelor's
18  7548957479006337869    DEGREE    580   582         Master's
19  7548957479006337869    DEGREE    657   659       Bachelor's
20  7548957479006337869    DEGREE    688   690       Bachelor's
21  7548957479006337869    DEGREE    299   300              PhD
22  7548957479006337869    DEGREE    301   302          Masters
23  7548957479006337869    DEGREE    581   582          Masters
24  7548957479006337869    DEGREE    583   584              PhD
25  7548957479006337869    DEGREE    657   659       Bachelor's
26  7548957479006337869    DEGREE    688   690       Bachelor's
27  7548957479006337869    DEGREE    657   659       Bachelor's
28  7548957479006337869    DEGREE    688   690       Bachelor's
29  7548957479006337869    DEGREE    763   764               MS
30  7548957479006337869    DEGREE    765   766              PhD
31  7548957479006337869    DEGREE    656   657          Masters
32  7548957479006337869    DEGREE    311   312          Masters
33  7548957479006337869    DEGREE    340   341        Bachelors
34  7548957479006337869    DEGREE    445   446          Masters
35  7548957479006337869    DEGREE    461   462          Masters
36  7548957479006337869    DEGREE    841   843       Bachelor's
37  7548957479006337869    DEGREE    844   846         Master's
38  7548957479006337869    DEGREE    384   385               MS
39  7548957479006337869    DEGREE    388   389               MS
40  7548957479006337869    DEGREE   1017  1018          Masters
41  7548957479006337869    DEGREE    639   641       Bachelor's
42  7548957479006337869    DEGREE    642   644         Master's
43  7548957479006337869    DEGREE    600   602       Bachelor's
44  7548957479006337869    DEGREE    603   605         Master's
45  7548957479006337869    DEGREE    642   644       Bachelor's
46  7548957479006337869    DEGREE    671   673         Master's
47  7548957479006337869    DEGREE   1317  1318               MS
48  7548957479006337869    DEGREE   1461  1462          Masters
49  7548957479006337869    DEGREE    384   385              PhD
50  7548957479006337869    DEGREE    402   404         Master's
51  7548957479006337869    DEGREE    602   604       Bachelor's
52  7548957479006337869    DEGREE    605   607         Master's